rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{id} {
      allow read: if resource.data.status == "published";
      allow write: if false;
    }

    match /services/{id} {
      allow read: if resource.data.status == "published";
      allow write: if false;
    }

    match /articles/{id} {
      allow read: if resource.data.status == "published";
      allow write: if false;
    }

    match /testimonials/{id} {
      allow read: if resource.data.status == "published";
      allow write: if false;
    }

    match /settings/{id} {
      allow read: if id == "public";
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
